name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '20'

    - name: Install dependencies
      run: npm install

    - name: Create .env file
      run: echo "YOUR_ENV_VARIABLES" > .env

    - name: Deploy to EC2
      env:
        SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        HOST: "ec2-3-90-207-133.compute-1.amazonaws.com"
        USERNAME: "ubuntu"
      run: |
        ssh -i $SSH_PRIVATE_KEY $USERNAME@$HOST 'bash -s' <<'ENDSSH'
          cd /nodeapp
          git pull origin main
          npm install
          pm2 restart all
        ENDSSH
